useDynLib(isoSIM)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("graphics", "par", "plot", "rect", "barplot")
importFrom("hierfstat","basic.stats")
importFrom("stats", "runif")
importFrom("utils", "tail")
importFrom("methods", "is")
importFrom("stats", "pbeta")
S3method(print, individual)
S3method(plot, individual)
S3method(print, population)
